[run]
parallel = true
concurrency = multiprocessing
# source = "."
omit = ../*migrations*
       ../*tests*
       */venv/*
       */virtualenv/*
       logs/*
       sitecustomize.py
       manage.py