[run]
source = "source = "/srv/env/bin/."
omit = ../*migrations*
       ../*tests*
       */venv/*
       */virtualenv/*
       logs/*
       manage.py
       config/wsgi.py
       */apps.py
       */commands/*