{% extends "illumidesk/examples/examples_base.html" %}
{% load static %}
{% block app %}
    <section class="section app-card">
        <h1 class="title">Object Lifecycle Demo</h1>
        <h2 class="subtitle">
            A single-page interactive data model and UI example.
        </h2>
    <div class="content">
        <p>
            This is an interactive data model and UI example using
            <a href="https://www.django-rest-framework.org/" target="_blank">Django Rest Framework</a> and
            <a href="https://reactjs.org/" target="_blank">React JS</a>.
            It demonstrates performing simple create, read, update and delete (CRUD) operations on an example "Employee" data model.
        </p>
    </div>
    </section>
    <div id="crud-home"></div>
{% endblock %}
{% block page_js %}
    {{ department_choices|json_script:'department-choices' }}
    <script type="application/javascript">
        // initialize any page specific stuff here
        // static files that are used by the page javascript.
        var STATIC_FILES = {
            'undraw_empty': "{% static 'images/illumidesk/undraw/undraw_empty.svg' %}",
        };
        var EMPLOYEE_DEPARTMENT_CHOICES = JSON.parse(document.getElementById('department-choices').textContent);
    </script>
    <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
    <script src="{% url 'api_schemajs' %}"></script>
    <script src="{% static 'js/object-lifecycle-bundle.js' %}"></script>
{% endblock %}
