{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Launching Workspace</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class='layout'>
      <div class='spinner'>
        <div class='circle'></div>
      </div>
    </div>
		<h2 id="message">Preparing workspace. Please wait...</h2>
    {% block javascript %}
    <script src="{% static 'js/preparing_workspace.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
