{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <form action="{{ action_url}}" id="fileForm" name="fileForm" method="post">
      <input type="hidden" value="ContentItemSelection" name="lti_message_type" />
      <input type="hidden" value="{{ lti_version }}" name="lti_version" />
      <h2>Select notebook file:</h2>
      <ul>{% for project in projects %}
        <li class="project">
          <a href="#" class="directory">
            {{ project.name }}
            <i class="arrow-down"{% if not forloop.first %} style="display: none;"{% endif %}>↓</i>
            <i class="arrow-right"{% if forloop.first %} style="display: none;"{% endif %}>→</i>
          </a>
          <ul{% if not forloop.first %} style="display: none;"{% endif %}>{% for file in project.files %}
            <li>
              <label>
                  <input type="radio" id="url" value="{{ file.content_items|escape }}" data-path="{{ file.path }}" data-project="{{ file.project }}" name="content_items" required />
                {{ file.path }}
              </label>
            </li>
          {% endfor %}</ul>
        </li>
        {% endfor %}</ul>
      <button type="submit">Accept</button>
    </form>
    {% block javascript %}
    <script src="{% static 'js/file_selector.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
